<div class="comment-row"
  ><mat-form-field
    ><input
      type="text"
      matInput
      placeholder="Leave a comment"
      [formControl]="commentCtrl" /></mat-form-field
  ><button
    ><mat-icon mat-icon-button color="primary" (click)="onLeaveComment()"
      >send</mat-icon
    ></button
  ></div
>
<div>
  <mat-list *ngIf="comments.length" @list
    ><h2 matSubheader>Commentaires</h2>
    <mat-list-item
      *ngFor="let comment of comments; let i = index"
      [@listItem]="animationState[i]"
      (mouseenter)="onListItemMouseEnter(i)"
      (mouseleave)="onListItemMouseLeave(i)"
    >
      <div class="comment-text" mat-line>{{ comment.comment }}</div>
      <div class="comment-date" mat-line>{{
        comment.createdDate | timeAgo
      }}</div>
    </mat-list-item>
  </mat-list>
</div>
